.body {
  overflow: hidden;
  height: 100vh;
  background-color: #4c3a69;
}

.welcome {
  z-index: 1;
  margin-top: 5vh;
  width: 100%;
  font-size: var(--step-3);
  font-weight: 600;
  font-family: "Lato";
  color: transparent;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  color: rgb(184, 52, 52);
  transition: 0.2s;
  margin-left: var(--space-xs-s);
  margin-bottom: 10vh;
}

.welcome:hover {
  text-underline-position: above;
  transform: translate3d(10px, -5px, 2px);
}

.aboutTitle {
  color: rgb(226, 43, 189);
  margin-top: 16vh;
  margin-bottom: var(--space-xs-s);
  font-size: var(--step-2);
}

.about {
  width: 100%;

  font-size: var(--step-3);
  font-weight: 600;
  font-family: "Lato";
  color: transparent;

  color: white;
  transition: 0.2s;
  margin-left: var(--space-xs-s);
  max-width: 90vw;
}

.highlightYello {
  color: yellow;
}

.highlightResponsive {
  color: rgb(184, 52, 52);
  transition: 0.3;
}
.highlightResponsive:hover {
  text-transform: uppercase;
}
.highlightBackground {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  background-color: aliceblue;
}

.aboutText {
  max-width: 700px;
  z-index: 100;
}

.highlightPretty {
  color: pink;
}
.pinkPiller {
  height: 120vh;
  width: 30vw;
  background-color: rgb(202, 1, 139);
  position: relative;
  top: -50vh;
  opacity: 0.5;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}
