.body {
  overflow: hidden;
  margin-top: 100px;
}

.welcome {
  width: 100%;
  font-size: var(--step-3);
  font-weight: 600;
  font-family: "Lato";
  color: transparent;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  color: rgb(184, 52, 52);
  transition: 0.2s;
}

.welcome:hover {
  text-decoration: underline;
  text-underline-offset: 30px;
  text-underline-position: above;
  transform: translate3d(10px, -5px, 2px);
}

.aboutTitle {
  color: blueviolet;
}

.about {
  width: 100%;
  margin-top: var(--space-s-m);
  font-size: var(--step-2);
  font-weight: 600;
  font-family: "Lato";
  color: transparent;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  color: white;
  transition: 0.2s;
}
