.skills {
  overflow-x: hidden;
  overflow-y: hidden;
  text-transform: uppercase;
  background-color: #29272a;
  background-size: 45.3px 85.2px;
  background-size: 113.26px 213.01px;
  font-family: "Lato";
  height: 100vh;
  background: linear-gradient(90deg, #85579c 75%, #513d4f 25%);
  scroll-snap-align: start;
  /* border-top: 4px rgba(159, 9, 89, 0.4) solid; */
  min-height: 800px;
}

@media screen and (max-width: 900px) {
  .skills {
    background: #85579c;
  }
}
.skillsTitle {
  color: white;

  font-size: var(--step-4);
  margin-left: var(--space-xs-s);
  text-transform: uppercase;
  transition: 0.8s;
  opacity: 1;
}
.skillSubTitle {
  font-size: var(--step-0);
}

.skillsTitleAfter {
  opacity: 0;
  font-size: var(--step-4);
  margin-left: var(--space-xs-l);
  transition: 0.2s;
}

.skillsContainer {
  transition: 0.2s;

  opacity: 1;
}
.skillsContainerAfter {
  opacity: 0;
}

.skillCard {
  margin-top: var(--space-m);
  cursor: pointer;
  height: 35vh;
  display: inline-block;
  width: 80%;
  font-size: var(--step-2);
  border: 2px pink solid;
  border-bottom: none;
  max-width: 300px;
  transition: 0.2s ease-in-out;
  margin-bottom: 10px;
}
.skillCardHidden {
  margin-top: var(--space-m);

  height: 35vh;
  display: inline-block;
  width: 80%;
  font-size: var(--step-2);
  border: 2px pink solid;
  border-bottom: none;
  max-width: 300px;
  transition: 0.2s ease-in-out;
  opacity: 0;
}
.skillCardTwo {
  height: 35vh;
  display: inline-block;
  width: 80%;
  font-size: var(--step-2);
  border: 2px pink solid;
  border-bottom: none;
  max-width: 300px;
  transition: 0.2s ease-in-out;
}
.skillCardTwoHidden {
  height: 35vh;
  display: inline-block;
  width: 80%;
  font-size: var(--step-2);
  border: 2px pink solid;
  border-bottom: none;
  max-width: 300px;
  transition: 0.2s ease-in-out;
  opacity: 0;
}

.cardsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* animation: pop 1s infinite alternate; */
}
@keyframes pop {
  0% {
    transform: scale(0.98);
  }
  100% {
    transform: scale(1);
  }
}

.cardsContainerHidden {
  transition: all 0.1 ease-in-out;
  flex-direction: column;
  opacity: 0;
}

@media screen and (min-width: 720px) {
  .cardsContainer {
    flex-direction: row;
    justify-content: space-around;
  }
  .skillCardTwo {
    margin-top: 30vh;
  }
}

.skillCard:hover {
  transform: translateY(-5px);

  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.skillCard:hover .skillCardTitle {
  opacity: 0.05;
}
.skillCard:hover .cardName {
  opacity: 0.05;
}

.skillCardTitle {
  color: white;
  font-size: var(--step-1);
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  font-family: "Lato";
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.skillCard:hover .middle {
  opacity: 1;
}

.text {
  background-color: #e384e0;
  font-family: monospace;
  color: white;
  font-size: var(--step--2);
  position: relative;
  height: 150px;
  width: 200px;
}
