.contactpage {
  height: 700px;

  overflow-x: hidden;
  overflow-y: hidden;
  padding: 0;

  font-family: monospace;
  position: relative;
  /* background: radial-gradient(
    circle at var(--x) var(--y),
    #cccccc30 26%,
    var(--pink) 30%
  ); */
  transition: 0.3s ease-in-out;
}

.contactHeader {
  color: white;
  font-size: var(--step-3);

  font-weight: 100;

  margin-bottom: 2em;
}

.contactBody {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/* .contactBody:hover {
} */

.socialsGroup {
  display: flex;
  user-select: all;
  width: 200px;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 0.5em;
  font-size: var(--step-1);
}

.LinkedinLogo {
  animation: jumbing 0.2s infinite forwards;
  animation-play-state: paused;
}

.socialsGroup:hover .LinkedinLogo {
  animation-play-state: running;
}

.socialsGroup > a:hover {
  text-decoration: underline;
}
@keyframes jumbing {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
.contactform {
  margin-top: 1em;

  transition: 0.2s ease-in-out;
  /* border: 4px dashed rgb(208, 121, 186); */
  width: 40vw;
  min-width: 300px;
  max-width: 500px;
  padding: 2em 0em;
}
/* .contactform:hover {
  transform: translateY(-10px);
} */
.contactform > form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  resize: none;
  font-size: var(--step--1);
}

.contactforminner > input {
  background-color: transparent;
  color: white;
}

.contactforminner > input:focus {
  outline: none;
  transition: 0.2s ease-in-out;
  transform: scale(1.05);
}

.contactforminner > input::placeholder {
  color: white;
}

.contactforminner > button {
  background-color: pink;
  margin-top: 10px;
  transition: 0.2s ease-in-out;
}
/* .contactforminner > button:hover {
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  color: rgb(127, 87, 128);
  transition: 0.2s ease-in-out;
}
.contactforminner > button:active {
  transform: scale(0.95);
} */

.contactform > h1 {
  text-align: center;
  font-size: var(--step--1);
}
.contactforminner > button {
  align-items: flex-end;
}

/* .light {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  width: 100vw;
  height: 120vh;
  background: radial-gradient(
    circle at var(--x) var(--y),
    #92929230 26%,
    rgba(39, 23, 34, 0.985) 30%
  );
} */
/* .contactBody {
  animation: letter-flicker 4s infinite forwards;
} */

.emailSend {
  margin-right: 10px;
}

.show {
  opacity: 1;
  transition: all 0.5s ease-in-out;
}

.hide {
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.budget {
  color: white;
}

.blob {
  animation: rotate 60s infinite linear;
  position: absolute;
  z-index: 1;

  mix-blend-mode: difference;
  top: 100px;
  pointer-events: none;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
